{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row information_cards">
            <div class='col-md-6'>
                <div class="card h-100">
                    <div class="card-img-wrap">
                        <img class="card-img-top" src="/static/img/icon_bestiario.jpg" alt="CITIES Timanfaya">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Bestiario</h2>
                        <p class="card-text">Criaturas mitológicas, Dioses, seres del imaginario colectivo. </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://citiestimanfaya.com/" class="btn btn-primary btn-sm">Acceder</a>
                    </div>
                </div>
            </div>
            <div class='col-md-6'>
                <div class="card h-100">
                    <div class="card-img-wrap ">
                        <img class="card-img-top" src="/static/img/icon_historias_y_cuentos.jpg"
                             alt="CITIES Timanfaya">
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Historias y cuentos</h2>
                        <p class="card-text">Historias y cuentos que se ambientan en la península ibérica. </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://citiestimanfaya.com/" class="btn btn-primary btn-sm ">Acceder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
